body {
  padding-top: 90px;
  padding-bottom: 20px;
}

main{
  padding-left: 0 !important;
}



// Responsiveness


@media (min-width: 768px) {

}

@media (max-width: 767px) {

}

@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}