/* ==========================================================================
   Author's Name: Shimul
   email: proshimul@yahoo.com
   web: streetcoder.net
   ========================================================================== */

/*  fontface*/
@font-face {
  font-family: 'GothamCondensed-Bold';
  src: url('../fonts/GothamCondensed-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamCondensed-Bold.otf')  format('opentype'),
  url('../fonts/GothamCondensed-Bold.woff') format('woff'),
  url('../fonts/GothamCondensed-Bold.ttf')  format('truetype'),
  url('../fonts/GothamCondensed-Bold.svg#GothamCondensed-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamCondensed-Book';
  src: url('../fonts/GothamCondensed-Book.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GothamCondensed-Book.otf')  format('opentype'),
  url('../fonts/GothamCondensed-Book.woff') format('woff'),
  url('../fonts/GothamCondensed-Book.ttf')  format('truetype'),
  url('../fonts/GothamCondensed-Book.svg#GothamCondensed-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}



/* * * * * * * * * * * * * * * * * *
             Common
* * * * * * * * * * * * * * * * * */

body {
  padding-top: 80px;
  font-family: 'GothamCondensed-Book';
  position: relative;
}

main{
  padding-left: 0 !important;
  padding-right: 0 !important;
  min-height: 451px !important;
}

.page-header {
  margin-top: 0;
  border-bottom: 1px solid #ef5821;
  padding-bottom: 0;
}

.page-header h2.big-text{
  margin: 0;
  font-size: 36px;
}

div.amazingslider-box-1 :nth-child(3) {
  visibility: hidden;
}


/*  custom button */
.btn-guru{
  background-color: #ef5821;
  background-image: linear-gradient(to bottom, #ef5821 0px, #ef5821 100%);
  background-repeat: repeat-x;
  border-color: #ef5821;
  color: #fff;
}

h2{
  font-family: 'GothamCondensed-Bold';
}

h2.big-text{
  text-transform: uppercase;
}

a {
  color: #ef5821;
}

a:hover {
  color: #ef5821;
}

/*  jquery ui */

.ui-state-default .ui-icon {
  background-image: url("../images/ui-icons_777777_256x240.png");
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background: #ffffff !important;
  border: 1px solid #ebebeb;
  color: #0d1f2a;
  font-family: 'GothamCondensed-Bold';
  font-size: 18px;
}

.ui-accordion .ui-accordion-content {
  color: #0d1f2a;
  font-family: 'GothamCondensed-Book';
  font-size: 18px;
  letter-spacing: .8px;
  word-spacing: 1px;
}

.ui-accordion .ui-accordion-header {
  color: #0d1f2a;
  font-family: 'GothamCondensed-Bold';
  font-size: 18px;
}

/*
  woocommerce
*/

.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #ef5821;
  font-size: 2em;
  font-weight: bold;
}

.woocommerce ul.products li.product .price {
  color: #ef5821;
  font-size: 2em;
  font-weight: bold;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  background-color: #ef5821;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background-color: #ef5821;
  padding-top: 7px;
  padding-bottom: 7px;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  padding-top: 7px;
  padding-bottom: 7px;
}

.woocommerce .woocommerce-breadcrumb {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 5px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.woocommerce .woocommerce-breadcrumb a {
  color: #ef5821;
}

.woocommerce .woocommerce-message {
  border-top-color: #ef5821;
}

.woocommerce .woocommerce-message::before {
  color: #ef5821;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  background-color: #ef5821;
  color: #ffffff;
}

.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
  background-color: #ef5821;
  color: #ffffff;
}
.shop_table a{
  color: #ef5821;
}

.woocommerce .woocommerce-info {
  border-top-color: #ef5821;
}
.woocommerce .woocommerce-info::before {
  color: #ef5821;
}

.woocommerce .woocommerce-info a {
  color: #ef5821;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  padding: 4px 4px 6px 4px;
}

.woocommerce div.product div.images img {
  padding: 20px;
  border: 1px solid #ebebeb;
}

.woocommerce table.shop_table {
  border-radius: 0px;
}

.woocommerce #content .product{
  margin-top: 30px;
}

.woocommerce .cart_totals .table{
  margin-bottom: 0;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
}




/* Customize container */
@media (min-width: 768px) {

  .navbar-default {
    padding: 10px 0 5px 0;
  }
  .navbar-nav > li > a {
    padding: 6px 8px;
    margin-right: 10px;
  }
  aside{
    padding-left: 40px !important;
  }

  .container {
    max-width: 1110px;
  }

  .big-text{
    font-size: 52px;
  }

  h3.big-text-third{
    font-size: 36px;
  }

  .how-works {
    margin-top: 40px;
  }

  h2.big-second-text{
    font-size: 48px;
  }
  .how-works-2{
    margin-top: 40px;
    padding-left: 20px
  }
  .how-works h3.big-text-third{
    color: #ffffff;
    font-size: 44px;
  }
  .how-works-2-right{
    padding-top: 100px;
    text-align: right;
  }

  .how-works-2-right h2{
    margin-right: 25px;
  }

  .how-works-2-right .envelop{
    margin-right: 50px;
  }

  .how-works-2-right h3{
    margin: 0;
    font-size: 44px;
    letter-spacing: 2px;
    word-spacing: 2px;
  }

  .how-works{
    min-height: 875px;
  }

  .promo-left h3 ,
  .promo-right h3{
    letter-spacing: 2px;
    word-spacing: 2px;
    font-size: 36px;
  }

  .promo-right{
    padding-bottom: 10px;
  }

  .wpcf7 input[type="text"],
  .wpcf7 input[type="email"],
  .wpcf7 textarea
  {
    width: 85%;
  }

  .woocommerce #content{
    padding-right: 10px;
  }

  .woocommerce #content div.product div.images,
  .woocommerce div.product div.images,
  .woocommerce-page #content div.product div.images,
  .woocommerce-page div.product div.images {
    width: 35%;
  }

  .woocommerce #content div.product div.summary,
  .woocommerce div.product div.summary,
  .woocommerce-page #content div.product div.summary,
  .woocommerce-page div.product div.summary {
    width: 61%;
    padding-right: 5px;
  }

  .woocommerce .cart-collaterals .cart_totals,
  .woocommerce-page .cart-collaterals .cart_totals {
    width: 30%;
    padding-right: 10px;
  }
  footer .img-responsive {
    float: right;
    width: 60%;
  }

  footer {
    margin-top: 50px;
  }
  .footer-right h1.footer-brand{
    font-size: 80px;
    letter-spacing: 1.5px;
    margin-top: 50px;
  }

  .footer-right p{
    font-size: 16px;
  }


}


@media (max-width: 768px) {

  .navbar-default {
    padding: 8px 0 1px 0;
  }
  .navbar-nav > li > a {
    padding: 6px 8px;
    margin-right: 10px;
  }
  .navbar-toggle {
    margin-top: 4px;
  }

  .btn-responsive {
    padding:3px 5px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }

  .how-works{
    padding-top: 45px;
  }
  .how-works-2{
    margin-top: 20px;
  }
  .how-works-2-right{
    padding-top: 80px;
    text-align: right;
  }

  .how-works-2-right h3{
    margin: 0;
    font-size: 20px;
  }

  .wpcf7 input[type="text"],
  .wpcf7 input[type="email"],
  .wpcf7 textarea
  {
    width: 100%;
  }

  .woocommerce #content{
  }

  footer .img-responsive {
    margin: auto;
    width: 30%;
  }
  footer {
    margin-top: 30px;
  }

  .footer-right{
    text-align: center;
  }

  .footer-right h1.footer-brand{
    padding-top: 0;
    margin-top: 10px;
    font-size: 42px;
    letter-spacing: 1.5px;
    word-spacing: 2px;
  }
  .footer-right p{
    font-size: 11px;
  }

}

@media (min-width: 769px) and (max-width: 992px) {

  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
    border-radius:4px;
  }
  .navbar-nav{
    margin-top: 5px;
  }
  .navbar-nav > li > a {
    padding: 4px;
    margin-right: 2px;
  }
  .how-works{
    padding-top: 15px;
  }

  .how-works-2-right{
    padding-top: 120px;
    text-align: right;
  }

  .how-works-2-right h3{
    margin: 0;
    font-size: 32px;
    letter-spacing: 0;
    word-spacing: 0;
  }

  .promo-left h3,
  .promo-right h3{
    letter-spacing: 0;
    word-spacing: 0;
    font-size: 24px;
  }

  .promo-right{
    padding-bottom: 22px;
  }

  footer .img-responsive {
    width: 80%;
  }
  .footer-right h1.footer-brand{
    font-size: 60px;
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
    margin-top: 40px;
  }

  .footer-right p{
    font-size: 14px;
  }

}