// Grid settings
@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;

// Colors
@brand-primary:         #59B200;

// global fonts family
@font-family-arial:  "Arial";

@font-family-base:        @font-family-arial;

// navbar
@navbar-default-border:#59B200;
@navbar-default-link-hover-color:#59B200;
@navbar-default-link-active-color:#59B200;
@navbar-default-link-color:#000000;
