.footer-wrap{
  min-height: 310px;
  background: transparent url("../images/dark-gray-bg2.jpg")  repeat top left;

}

.footer-top-bg{
  height: 10px;
  background: url("../images/footer-shadow.png")  repeat-x scroll left top rgba(0, 0, 0, 0);
}

.footer-mid-bg{
  height: 8px;
  background: url("../images/divider-hlines.png")  repeat-x scroll left top rgba(0, 0, 0, 0);
  position: relative;
}

.footer-mid-bg a{
  outline: 0;
}

.scrollup{
  height: 36px;
  width: 36px;
  background: transparent url("../images/scroll-top-arrow.png") top left no-repeat;
  position: absolute;
  top: -15px;
  left: 50%;
}

.footer-widget > .container{
  padding: 15px 30px 30px 30px;
}

footer .sidebar-title{
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Open Sans",sans-serif;
  font-size: 18px;
  padding-top: 15px;
}

.footer-title{
  font-weight: bold;
}

.footer-widget ul{
  padding: 0;
  margin: 0;
}
.footer-widget ul li{
  list-style: none;
}
.footer-widget ul li:before{
  font-family: FontAwesome;
  content: '\f105\00a0\00a0';
  color: #999;
}

.footer-widget ul li a{
  color: #999;
  font-size: 12px;
}

.footer-bottom{
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-bottom h2 , .footer-bottom p, .footer-bottom a{
  color: #606060;
}
.footer-bottom h2 {
  font-size: 27px;
  margin: 0;
  padding: 0;
}
.footer-bottom p{
  font-size: 12px;
  margin: 0;
}

.footer-bottom a:hover{
  text-decoration: none;
  color: #999;
}

