

/* * * * * * * * * * * * * * * * * *
             footer
* * * * * * * * * * * * * * * * * */

footer {
  padding-bottom: 10px;
  padding-top: 15px;
  border-top: 1px solid #e7e7e7;;
}

/* footer top */
.footer-top {
  text-align: center;
  background: #e3e3e3;
  padding: 25px 0;
}

.footer-top h3{
  margin: 0;
}
a.lets-talk{
  font-size: 16px;
  background: #ef5821;
  border-radius: 2px;
  padding: 6px 10px;
  color: #ffffff;
  cursor: pointer;
  letter-spacing: .8px;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
a.lets-talk:hover{
  text-decoration: none;
}

/*  footer bottom */
.footer-bottom{
  text-align: center;
  background: #232323;
  color: #f1e5df;
  font-size: 12px;
  padding: 8px 0;
}
a.footer-menu{
  color: #f1e5df;
}
.footer-bottom p{
  margin: 0;
}

/* footer 2 */
footer .img-responsive {
  float: right;
}

.footer-right h1.footer-brand{
  color: #ef5821;
  font-family: 'GothamCondensed-Bold';
  text-transform: uppercase;
  padding-bottom: 0;
  margin-bottom: 0;
}

.footer-right p{
  color: #232323;
  font-weight: bold;
}

.footer-right a{
  color: #232323;
}

.footer-right a:hover{
  text-decoration: none;
  color: #ef5821;
}