/* * * * * * * * * * * * * * * * * *
             navigation
* * * * * * * * * * * * * * * * * */


.navbar-default {
  background-image: none;
  background-repeat: repeat-x;
  border-radius: 0;
  box-shadow: none;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  background-image: none;
  background-repeat: no-repeat;
  box-shadow: none;
  border: #ef5821 3px solid;
  font-family: 'GothamCondensed-Bold';
  font-size: 22px;
}

.navbar-nav > li > a {
  font-family: 'GothamCondensed-Bold';
  font-size: 22px;
  border: transparent 3px solid;
}

/* navigation active hover */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #555;
}

/* navigation hover */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
  color: #ef5821;
  font-family: 'GothamCondensed-Bold';
  font-size: 22px;
}


.navbar-default .navbar-brand {
  color: #ef5821;
  font-family: 'GothamCondensed-Bold';
  font-size: 52px;
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ef5821;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: transparent;
}


.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
  padding-left: 25px;
}

/* * * * * * * * * * * * * * * * * *
           end navigation
* * * * * * * * * * * * * * * * * */