

/* * * * * * * * * * * * * * * * * *
             HomePage
* * * * * * * * * * * * * * * * * */

.get-started{
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 2px;
  /*background: #204d74;*/
}


/* how it works */
.how-works{
  width:100%;
  background: transparent url("../images/how-work-bg.png") top center no-repeat;
  padding-left: 20px;
  padding-right: 20px;
}

.how-works h2.big-text{
  text-align: center;
}

h2.big-second-text{
  color: #ffffff;
}

.how-works h3.big-text-third{
  color: #ffffff;
  letter-spacing: 2px;
  word-spacing: 2px;
  margin: 0;
}

.how-works-2-right h2{
  color:#000000;
  font-size: 48px;
}
.target-text{
  font-family: 'GothamCondensed-Bold';
}

/*  promotion box */
.promotion{
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  text-align: center;
}
.promo-left{
  background: #69d4f2;
  padding-bottom: 20px;
}
.promo-left img{
  margin-bottom: 20px;
}

.promo-left h3{
  color: #ffffff;
  margin: 0;
}

.promo-right{
  background: #d8d9db;
  padding-top: 25px;
}

.promo-right img{
  width: 35%;
  margin-bottom: 5px;
}
.promo-right-text-left{
  text-align: left;
}

.promo-right h3{
  margin: 0;
}

/*  pricing table */

.pricing-table {
  margin-top: 50px;
  text-align: center;
}

.pricing-table .big-text{
  margin-bottom: 30px;
}

.pricing-table p.pt-heading{
  font-size: 20px;
  font-weight: bold;
}

.pricing-table .pr-price{
  font-size: 52px;
  font-weight: bold;
  text-transform: uppercase;
}

.pricing-table .pr-price .fa-usd{
  font-size: 24px;
}
.pricing-table .pr-price .pr-price-type{
  font-size: 20px;
}
.pricing-table ul{
  padding: 0;
}

.pricing-table ul.pr-feature li{
  list-style: none;
  padding: 5px 0;
}

.pricing-table ul.pr-feature li:nth-child(odd) {
  background: #F0F0EE;
}

.pricing-table .btn-pricing{
  width: 80%;
  margin: auto;
  background-color: #0d1f29;
  background-image: linear-gradient(to bottom, #0d1f29 0px, #0d1f29 100%);
  background-repeat: repeat-x;
  border-color: #0d1f29;
  color: #fff;
}

.pricing-table .pr-box{
  border: 1px solid #e8e8e8;
  padding-top: 5px;
  padding-bottom: 15px;
}

.pricing-table .pr-box-featured{
  border: 3px solid #f13b00;
  padding-top: 5px;
  padding-bottom: 15px;
}

.pricing-table .btn-pricing-featured{
  width: 80%;
  margin: auto;
  background-color: #f13b00;
  background-image: linear-gradient(to bottom, #f13b00 0px, #f13b00 100%);
  background-repeat: repeat-x;
  border-color: #f13b00;
  color: #fff;
}

.pricing-table .featured{
  color: #f13b00;
}

.faq{
  margin-top: 40px;
}

.faq h2.big-text{
  text-align: center;
  margin-bottom: 20px;
}

.faq .btn-guru{
  margin-top: 15px;
}

.wave{
  width: 100%;
  background: #ededed url("../images/waves.png") top center no-repeat;
  height: 50px;
  margin-top: 30px;
}

.past-project {
  background: #ededed;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
}

.past-project h2.big-text{
  margin-bottom: 30px;
}

.triangle{
  width: 100%;
  background: #ffffff url("../images/bottom-angle.png") top center no-repeat;
  height: 125px;
}

.contact-us{
  text-align: center;
}


.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea
{
  border: 1px solid #f13b00;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
{
  height: 30px;
}

.wpcf7 p{
  margin-bottom: 15px;
}

.wpcf7-submit{
  background-color: #f13b00;
  background-image: linear-gradient(to bottom, #f13b00 0px, #f13b00 100%);
  background-repeat: repeat-x;
  border-color: #f13b00;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 5px 30px;
  letter-spacing: 1px;
}

